.controls {
  border-top: brown;
  width: 100%;
  background-color: bisque;
}

.Histograms {
  /* display: flex;
  justify-content: center; */
  /* align-self: center; */
  margin-top: 10px;
  position: center;
  margin-bottom: 10px;
}
.array-bar {
  width: 3px;
  background-color: blue;
  display: inline-block;
  margin: 0 1px;
}
