.window {
  background-color: #e6c873;
  position: fixed;
  width: 100%;
  height: 100%;
}
.array-container {
  /* display: flex;
  justify-content: center; */
  /* align-self: center; */
  /* justify-content: center; */
  display: flex;
}
.controls {
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  align-items: center;
  background-color: #203b99;
}
.array-bar {
  width: 10px;
  background-color: blue;
  display: inline-block;
  margin: 0 1px;
}
